@charset "utf-8";
/* ******************************************
layout.scss
プロジェクトのレイアウト（ユニークなもの）を管理します
※blockの接頭辞には、「l-」を付与
※詳しいルールはスタイルガイドを参照
****************************************** */


/* -------------------------------------------
共通
------------------------------------------- */
.l-contents {
	background-color: #fff;
	box-sizing: border-box;
	margin: 30px auto;
	width: 960px;
	padding: 30px;
}


