doctype
html(lang = "ja")
	head
		meta(charset = "utf-8")

		block title
			title CSS3アニメーション

		block meta

		block stylesheets
			link(rel='stylesheet' href='/common/css/styles.css')

		block script
			script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
			script.
				$(function(){
					setTimeout(function(){
						$('.u-anim-card').addClass('active');
					}, 1000);
					setTimeout(function(){
						$('.u-anim-card').removeClass('active');
					}, 2000);

				});


	body
		.l-contents
			section
				h1.m-headType1 ボタン
				.m-block
					a.u-anim-downBtn(href='#') aタグ沈むボタン
					button.u-anim-downBtn buttonタグ沈むボタン
					input.u-anim-downBtn(type='submit',value='inputタグ沈むボタン')

				h1.m-headType1 flash
				.m-block
					a.u-anim-downBtn.u-anim-flash(href='#') aタグ光るボタン
					button.u-anim-downBtn.u-anim-flash buttonタグ光るボタン

					p.u-anim-flash(style='widht:300px;height: 300px;background: #006655;color: #fff;') 光るブロック

				h1.m-headType1 裏返し
				.m-block
					ul
						li.u-anim-card
							img.u-anim-card__front(src="http://placehold.it/200x180/006655/ffffff&text=img")
							dl.u-anim-card__back
								dt タイトル
								dd テキスト

